In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Edu_Data.csv')

In [3]:
df

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,T,Father,5,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

In [4]:
df.replace('?',np.nan,inplace=True)

In [5]:
df.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     2
SectionID                   0
Topic                       2
Semester                    0
Relation                    8
raisedhands                 2
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [6]:
df['Topic'].value_counts()

IT           94
French       65
Arabic       58
Science      51
English      45
Biology      30
Spanish      25
Geology      24
Chemistry    24
Quran        22
Math         21
History      19
Name: Topic, dtype: int64

In [7]:
df['Topic'].replace(np.nan,"IT",inplace=True)

In [8]:
df.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     2
SectionID                   0
Topic                       0
Semester                    0
Relation                    8
raisedhands                 2
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [9]:
df.dropna(subset=['GradeID'],axis=0,inplace=True)
df.reset_index(drop=True,inplace=True)

In [10]:
df.dropna(subset=['Relation'],axis=0,inplace=True)
df.reset_index(drop=True,inplace=True)

In [11]:
df.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 2
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [12]:
avg_raised=df['raisedhands'].astype('float').mean()
print('Average of Raised Hands is-',avg_raised)

Average of Raised Hands is- 46.83119658119658

In [13]:
df['raisedhands'].replace(np.nan,avg_raised,inplace=True)

In [14]:
df.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [15]:
df['Semester'].value_counts()

F    240
S    228
T      2
Name: Semester, dtype: int64

In [16]:
df['gender'].value_counts()

M    300
F    170
Name: gender, dtype: int64

In [17]:
df['ParentAnsweringSurvey'].value_counts()

Yes    262
No     208
Name: ParentAnsweringSurvey, dtype: int64

In [18]:
df.drop(df[(df['Semester']=='T')].index,inplace=True)
df.reset_index(drop=True,inplace=True)

In [19]:
df['Semester'].value_counts()

F    240
S    228
Name: Semester, dtype: int64

In [20]:
del df['ParentAnsweringSurvey']

In [21]:
df.head(20)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,Bad,Above-7,M
5,F,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,42,30,13,70,Bad,Above-7,M
6,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,35,12,0,17,Bad,Above-7,L
7,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,10,15,22,Good,Under-7,M
8,F,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,12,21,16,50,Good,Under-7,M
9,F,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,70,80,25,70,Good,Under-7,M
10,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,88,30,80,Good,Under-7,H
11,M,KW,KuwaIT,MiddleSchool,G-07,B,Math,F,Father,19,6,19,12,Good,Under-7,M
12,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,5,1,0,11,Bad,Above-7,L
13,M,lebanon,lebanon,MiddleSchool,G-08,A,Math,F,Father,20,14,12,19,Bad,Above-7,L
14,F,KW,KuwaIT,MiddleSchool,G-08,A,Math,F,Mum,62,70,44,60,Bad,Above-7,H
15,F,KW,KuwaIT,MiddleSchool,G-06,A,IT,F,Father,30,40,22,66,Good,Under-7,M
16,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,36,30,20,80,Bad,Above-7,M
17,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,55,13,35,90,Bad,Above-7,M
18,F,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Mum,46.831197,15,36,96,Good,Under-7,M
19,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Mum,70,50,40,99,Good,Under-7,H

In [22]:
df['raisedhands']=df['raisedhands'].astype('float')

In [23]:
df.head(5)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15.0,16,2,20,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20.0,20,3,25,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10.0,7,0,30,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30.0,25,5,35,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40.0,50,12,50,Bad,Above-7,M

In [24]:
df.dtypes

gender                       object
NationalITy                  object
PlaceofBirth                 object
StageID                      object
GradeID                      object
SectionID                    object
Topic                        object
Semester                     object
Relation                     object
raisedhands                 float64
VisITedResources              int64
AnnouncementsView             int64
Discussion                    int64
ParentschoolSatisfaction     object
StudentAbsenceDays           object
Class                        object
dtype: object

In [25]:
df['raisedhands']=df['raisedhands']/df['raisedhands'].max()

In [26]:
df['VisITedResources']=df['VisITedResources']/df['VisITedResources'].max()

In [27]:
df.head(5)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,0.15,0.161616,2,20,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,0.20,0.202020,3,25,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,0.10,0.070707,0,30,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,0.30,0.252525,5,35,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,0.40,0.505051,12,50,Bad,Above-7,M

In [28]:
df['GradeID'].value_counts()

G-02    142
G-08    115
G-07     98
G-04     48
G-06     31
G-11     13
G-12      9
G-09      5
G-10      4
G-05      3
Name: GradeID, dtype: int64

In [29]:
df['GradeID'].replace(['G-02','G-04','G-05','G-06','G-07','G-08','G-09','G-10','G-11','G-12'],[1,2,3,4,5,6,7,8,9,10],inplace=True)

In [30]:
df.head(10)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.15,0.161616,2,20,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.20,0.202020,3,25,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.10,0.070707,0,30,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.30,0.252525,5,35,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.40,0.505051,12,50,Bad,Above-7,M
5,F,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.42,0.303030,13,70,Bad,Above-7,M
6,M,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.35,0.121212,0,17,Bad,Above-7,L
7,M,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.50,0.101010,15,22,Good,Under-7,M
8,F,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.12,0.212121,16,50,Good,Under-7,M
9,F,KW,KuwaIT,MiddleSchool,5,B,IT,F,Father,0.70,0.808081,25,70,Good,Under-7,M

In [31]:
df['StudentAbsenceDays'].value_counts()

Under-7    282
Above-7    186
Name: StudentAbsenceDays, dtype: int64

In [32]:
df['StudentAbsenceDays'].replace({"Under-7":"low absenty","Above-7":"High absenty"},inplace=True)

In [33]:
df.head(10)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.15,0.161616,2,20,Good,low absenty,M
1,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.20,0.202020,3,25,Good,low absenty,M
2,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.10,0.070707,0,30,Bad,High absenty,L
3,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.30,0.252525,5,35,Bad,High absenty,L
4,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.40,0.505051,12,50,Bad,High absenty,M
5,F,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.42,0.303030,13,70,Bad,High absenty,M
6,M,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.35,0.121212,0,17,Bad,High absenty,L
7,M,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.50,0.101010,15,22,Good,low absenty,M
8,F,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.12,0.212121,16,50,Good,low absenty,M
9,F,KW,KuwaIT,MiddleSchool,5,B,IT,F,Father,0.70,0.808081,25,70,Good,low absenty,M

In [34]:
df['GradeID'].value_counts()

1     142
6     115
5      98
2      48
4      31
9      13
10      9
7       5
8       4
3       3
Name: GradeID, dtype: int64

In [35]:
#Binning
bins=np.linspace(1,10,4)
category=['needs_Improvement','Average','Bright']
df['CurrentGrades']=pd.cut(df['GradeID'],bins,labels=category,include_lowest=True)

In [36]:
bins

array([ 1.,  4.,  7., 10.])

In [37]:
df.head(10)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class,CurrentGrades
0,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.15,0.161616,2,20,Good,low absenty,M,needs_Improvement
1,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.20,0.202020,3,25,Good,low absenty,M,needs_Improvement
2,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.10,0.070707,0,30,Bad,High absenty,L,needs_Improvement
3,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.30,0.252525,5,35,Bad,High absenty,L,needs_Improvement
4,M,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.40,0.505051,12,50,Bad,High absenty,M,needs_Improvement
5,F,KW,KuwaIT,lowerlevel,2,A,IT,F,Father,0.42,0.303030,13,70,Bad,High absenty,M,needs_Improvement
6,M,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.35,0.121212,0,17,Bad,High absenty,L,Average
7,M,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.50,0.101010,15,22,Good,low absenty,M,Average
8,F,KW,KuwaIT,MiddleSchool,5,A,Math,F,Father,0.12,0.212121,16,50,Good,low absenty,M,Average
9,F,KW,KuwaIT,MiddleSchool,5,B,IT,F,Father,0.70,0.808081,25,70,Good,low absenty,M,Average

In [38]:
df.to_csv('Practice2')